/*max-width: 31.5em*/
@media screen and (min-width: 1500px) {
  /* line 3, ../compass/sass/mediaQuery.scss */
  .grid {
    padding: 10px 10px 100px 10px;
  }
}
@media screen and (max-width: 549px) {
  /* line 12, ../compass/sass/mediaQuery.scss */
  .grid {
    padding: 10px 10px 100px 10px;
  }

  /* line 19, ../compass/sass/mediaQuery.scss */
  #navigation {
    position: absolute;
    top: 90px;
    margin: 0 auto;
    min-width: 400px;
    width: 100%;
    text-align: center;
    font-weight: 10;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  /* line 29, ../compass/sass/mediaQuery.scss */
  #navigation a {
    display: inline-block;
    padding: 8px 0px 0px 0px;
    width: 100px;
    height: 33px;
    border-right: 1px solid #5C5C5C;
  }
}
/*iphone 4*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 40, ../compass/sass/mediaQuery.scss */
  .grid {
    padding: 10px 10px 100px 10px;
  }

  /* line 47, ../compass/sass/mediaQuery.scss */
  #navigation {
    position: absolute;
    top: 90px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 10;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  /* line 56, ../compass/sass/mediaQuery.scss */
  #navigation a {
    display: inline-block;
    padding: 8px 0px 0px 0px;
    width: 200px;
    height: 33px;
    border-right: 1px solid #5C5C5C;
  }

  /* line 64, ../compass/sass/mediaQuery.scss */
  #language {
    font-size: 50%;
  }
}
@media screen and (max-width: 25em) {
  /* line 69, ../compass/sass/mediaQuery.scss */
  .codrops-icon span {
    display: none;
  }
}
