/*
-----------------------------------------------------------
This is a hack. It works in:
FF 3.6+, Anroid 2.2+, Safari, Chrome, IE7, IE8, IE9+
-----------------------------------------------------------
*/
/* line 8, ../compass/sass/queryHack.scss */
html {
  font-family: 'mobile';
}

/* line 12, ../compass/sass/queryHack.scss */
* html {
  /* IE6 */
  font-family: "desktop";
}

/* line 16, ../compass/sass/queryHack.scss */
* + html {
  /* IE7 */
  font-family: "desktop";
}

@media \0screen {
  /* line 21, ../compass/sass/queryHack.scss */
  html {
    /* IE8 */
    font-family: "desktop";
  }
}
/* Reset your font families here.       
 ----------------------------------- */
/* line 28, ../compass/sass/queryHack.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Queries for supported browsers.       
 ----------------------------------- */
@media screen and (min-width: 35em) {
  /* line 37, ../compass/sass/queryHack.scss */
  html {
    font-family: "skinny";
  }

  /* line 40, ../compass/sass/queryHack.scss */
  body {
    background-color: #000000;
  }
}
@media screen and (min-width: 56em) {
  /* line 46, ../compass/sass/queryHack.scss */
  html {
    font-family: "desktop";
  }

  /* line 49, ../compass/sass/queryHack.scss */
  body {
    background-color: #f6f6f6;
  }
}
